body{background-image:url(photo/congruent_pentagon.png);}
.full{width:960px;margin:25px auto;display:block;overflow:hidden;background:#EDF0F5;}
.header h2{color:green;text-align:center;font-size:40px;background-image:url(photo/congruent_pentagon.png);width:960px;height:70px;margin:0px 0px 0px 0px;}
.pic img{width:478px;height:250px;}

